<%#= build_validated_select('task', 'user_ids', 'Assignees', 'Should select at least one', '', true, '', @users.map { |x| [x.name, x.id] }) %>


<div class="task-assignees">
  <div class="card">

  </div>
</div>
