<!--<div class="large-4 columns pane2">-->
<%= content_for :pane2 do %>
    <%# @projects.each do |project| %>
    <%= render :partial => 'projects/project_list', :locals => {:projects => @projects} %>
    <%# end %>
<% end %>

<!--</div>-->
<!--<div class="large-6 columns pane3">-->

<%= render :partial => 'teams/form' %>
<!--</div>-->
<script type="text/javascript">
    window.location = '#pane3'
    $('.project.card').removeClass('active')
    $('.prj-<%= @team.project_id %>').addClass('active')
    //    $('#team_project_id').select2({'width':'100%'});
</script>
