<div class="pane3-meta">
  <div class="title">
    #<%= @task.tracker_id %>
  </div>
</div>
<div class="pane3-content">
  <%= render :partial=>'tasks/show',:locals=>{:task=>task,:project=>project,:team=>team}  %>
</div>