<div class="pane2-meta">
  <div class="title">My tasks</div>
</div>
<div class="pane2-content scroll2watch">
  <div class="task-list" id="my-tasks">
  <div id="paginator">
    <%= render :partial=>'tasks/task_page' %>
  </div>
    <div id="infinite-scrolling">
      <%= will_paginate(@tasks, :params => { :controller => "tasks", :action => "index" }) %>

    </div>
  </div>
</div>
<script type="text/javascript">
    infiniteScroll()
</script>