<%= content_for :pane2 do %>
    <%= render :partial => 'tasks/task_list' %>
<% end %>

<div class="pane3-meta"></div>
<div class="pane3-content">
  <%= render :partial => 'show', :locals => {:task => @task, :project => @project, :team => @team} %>
</div>