<%= content_for :pane2 do %>
    <%= render :partial => 'tasks/task_list' %>
<% end %>

<div class="pane2-content-no-offset">
  <%= render :partial => 'show', :locals => {:task => @task, :project => @project, :team => @team} %>
</div>