<%= content_for :pane2 do %>
    <!--<div class="large-4 columns pane2">-->
    <%#= render :partial=>'projects/new_link' %>
    <%# @projects.each do |project| %>
        <%= render :partial => 'projects/project_list', :locals => {:projects => @projects} %>
    <%# end %>

    <!--</div>-->
    <!--<div class="large-6 columns pane3">-->
<% end %>
<%= content_for :pane3 do %>
    <% if @project.present? %>
        <%= render :partial => 'projects/show', :locals => {:project => @project} %>
    <% end %>
<% end %>
<!--</div>-->
<script type="text/javascript">
    window.location = '#pane2'
</script>