<!--<div class="large-4 columns pane2">-->
<%= content_for :pane2 do %>
    <%# @projects.each do |project| %>
        <%= render :partial => 'projects/project_list', :locals => {:projects => @projects} %>
    <%# end %>
    <!--</div>-->
<% end %>

<!--<div class="large-6 columns pane3">-->
<%= content_for :pane3 do %>
    <% if @project.present? %>
        <%= render :partial => 'projects/show', :locals => {:project => @project} %>
    <% end %>
<% end %>
<!--</div>-->
<script type="text/javascript">
    window.location = '#pane3'
</script>