<div class="large-4 columns pane2">
  <% @projects.each do |project| %>
      <%= render :partial => 'projects/project_card', :locals => {:project => project} %>
  <% end %>
</div>
<div class="large-6 columns pane3">
<%#= content_for :pane3 do %>
  <% if @project.present? %>
      <%= render :partial=>'projects/show',:locals=>{:project=>@project} %>
  <% end %>
<%# end %>
</div>