<div class="nested-fields">

  <div class='form-row'>
    <!--<div class='small-3 columns'>-->
      <%#= f.label :name, 'Name' %>
    <!--</div>-->
    <!--<div class='small-9 columns'>-->
      <%#= f.text_field :name %>
    <!--</div>-->
    <div class='small-11 columns'>
      <%= f.text_field :name, :placeholder => 'Key result',:autofocus=>true,:required=>true %>
    </div>
    <div class='small-1 columns'>
      <div class="remove-links">
        <%= link_to_remove_association '', f %>
      </div>
    </div>
  </div>


  <!--<div class="field">-->
    <%#= f.label :start_date %>
    <%#= f.text_field :start_date %>
  <!--</div>-->
  <!--<div class="field">-->
    <%#= f.label :end_date %>
    <%#= f.text_field :end_date %>
  <!--</div>-->

</div>
