<% content_for :pane2 do %>
    <%= render :partial => 'okrs/okrs' %>
<% end %>

<div class="pane3-padding">
  <%= render :partial => 'okrs/okr' %>
</div>
<script type="text/javascript">
    window.location = '#pane2'
</script>