// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-color: #333333;
$link: #f75c5a;
$link-hover: #e74c3a;
$pane1-bg:#2c3e50;
$pane2-bg:#ecf0f1;
$pane3-bg:#ffffff;
$card-bg:#fcfcfd;
$card-border:#ecf0f1;
$border:#ffffff;
$card-bg-hover:#ffffff;
$card-border-hover:#e74c3c;
$border-hover:#ffffff;
$grey-link:#aaaaaa;
$grey-link-hover:#cccccc;
$line:#cccccc;
$warning:#bf392d;




html, body{height: 100%;}
html {
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
//  text-shadow: #fff 0px 1px 1px;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility !important;
}

body{
//  font-family: 'Raleway', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  a{font-family: 'Source Sans Pro', sans-serif;}
}
.ep-tracker.row{max-width: 100rem;}

.row{height: 100%;}
.pane1, .pane2, .pane3{height: 100%;}
.pane1, .pane2, .pane3{padding: 0px;}
.pane1{background: $pane1-bg;}
.pane2{background: $pane2-bg;}
.pane3{background: $pane3-bg;}
label{font-size: 16px;}
.no-padding{padding: 0px !important;}
.pane2-meta{height: 80px;border-bottom: solid 1px $line;width: 100%}
.pane2-content{height: auto;overflow-y: auto;position: absolute;top: 80px;bottom: 0;width: 100%;padding: 35px;}
.pane3-meta{position:absolute;top:0px;height: 80px;border-bottom: solid 1px $line;width: 100%}
.pane3-content{height: auto;overflow-y: auto;position: absolute;top: 80px;bottom: 0;width: 100%;padding: 35px;}
.pane2-padding{padding: 35px;}
.pane3-padding{padding: 35px;}
.pane2-meta,.pane3-meta{
  padding: 30px;
  .title{font-weight: bold;font-size: 1em;float: left;}

  .tabs{
    float: right;
    border: none;

    .active{background: $pane2-bg;}
    dd{position: initial;}
    .clear-tab{
      background: $pane2-bg;border: none;outline: none;
      a{
      outline: none;
      background: $pane2-bg;
      font-size: 0.8em;
      color: $font-color;
      padding: 0px 8px;
    }
    a:hover{color: $link;}
    }
    .active a,.active a:hover{
      cursor: default;
      color: $link;
    }

  }
}
.pane3-meta{
  .title{

  }
}
//a{color: #e74c3c}
//a:hover{color: #f75c4c}
.transition{
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

.grey-link{color: $font-color;}
.grey-link:hover{color: $link;}
.cols{float: left;margin-right: 20px;}
.card{
  display: block;
  background: $card-bg;
  border: solid 1px $card-border;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.card:hover, .card.active{
  background: $card-bg-hover;
  border: solid 1px $card-border-hover;
}
.card-transparent{
  display: block;
//  background: $card-bg;
//  border: solid 1px $card-border;
  padding: 20px;
  margin-bottom: 4px;
  overflow: hidden;
}
.card-transparent:hover, .card-transparent.active{
  background: $card-bg;
//  border: solid 1px $card-border-hover;
}
.project{
  .text{font-size: 0.9em;line-height: 2em;}
}
.title, .text{
  color: $font-color;
}
.title{font-size: 1em;font-weight: normal;}
.active .title{font-size: 1em;font-weight: bold;}
.text{font-size: 1em}
.font{
  font-size: 1.4em;
}
.head-row{
  div{line-height: 1.2em;}
  overflow: hidden;
  .title{
//    clear: right;
    overflow: hidden;
    margin-left: 140px;
    .main-title{font-size: 2em;float: left;}
    .main-title-helper{font-size: 1.2em;color: $grey-link;float: left;}
  }
  .website{color: $grey-link}
  .description{margin-left: 150px;line-height: 1.5em;}

}
.user-title{
  font-size: 2em;
  text-align: center;
  .nickname{
    font-size: 0.8em;
    display: inline-block;
    color: $grey-link;
  }
}
a{color: $link}
a:hover{color: $link-hover}
.email{text-align: center;}
.pane1{overflow-y: auto}
.pane2{overflow-y: auto}
.pane3{overflow-y: auto}
.form-row{clear: left;overflow: hidden;}
.form-action-up{
  height: 80px;
  position: absolute;
//  right: 30px;
  top: 0px;
  padding: 0px;
  padding-right: 35px;
  border-bottom: solid 1px $line;
  .right{
    top: 40%;
    position: relative;
    a{padding: 5px 10px;display: table;}
  }

}
.form-below{
  position: relative;
//  top: 50px;
}
.button{
  padding: 5px 10px;
  border-radius: 2px;
}
.dashed_link{
  border: dashed 2px $line;
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  color: $line;
  font-weight: bold;
}
.dashed_link:hover{color: $link;border-color: $link;}
.dashed_link:active{color: $link-hover;border-color: $link;}

dl.tabs, dl.accordion{dd a{font-family: 'Source Sans Pro', sans-serif;}}
.pane3{
 dl.tabs{
  clear: left;
  margin-top: 20px;
  border-top: solid 1px $line;
  border-bottom: solid 1px $line;
  dd a{
    padding: 13px 35px 5px 35px;
    background: $pane3-bg;
//    padding: 0 35px;
    font-family: 'Source Sans Pro', sans-serif;
    .fig {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: -24px;
      padding-top: 7px;
    }
  }
  dd:first-child a:first-child{padding-left: 0px}
  dd a:hover{background: $pane3-bg;color: $link-hover;}
  dd.active a{background: $pane3-bg;color: $link-hover;}
  dd:after{
    content: '';
    width: 1px;
    height: 37px;
    background: $line;
    position: absolute;
    top: 22px;
    right: 0;
  }

  dd:last-child:after{
    content: '';
    width: 1px;
    background: $line;
    position: absolute;
    top: 22px;
    right: 0;
  }

  .meta{
    color: $grey-link;
    padding-top: 10px;
    .fig{
      font-size: 1.1em;
      font-weight: bold;
    }
  }
}
}


.form-row{
  border-bottom: solid 1px $line;
  padding-top: 10px;
  margin-left: 45px;
  margin-right: 45px;
  label,input{margin-bottom: 0px;margin-top: 20px;}
  input,input.active{
  border: none;
  background: $pane3-bg;
  outline: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
  textarea,input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{
    background: $pane3-bg;
    outline: none;
    border: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
.select2-container{
  margin-bottom: 0px;
  .select2-choice{
  border: none;
  background: $pane3-bg;}
}
.rounded_pic{
  border-radius: 100%;
}
.centered{text-align: center;}

.btn-sec{
  padding: 5px 10px;
  border: solid 1px $line;
  border-radius: 3px;
  color: $link;
  font-size: 14px;
}

.form-row label, .form-row input{margin-top: 0px;}
form.form-horizontal{padding-top: 100px;}
.text_field{outline: none;}
.button{margin: 0;}

.cal-date,.cal-date:hover{color: $grey-link;}
.date-card.active .cal-date{font-weight: bold;}
.date-card{
  li{list-style: none;
    a{color: $font-color;}
    a:hover{color: $link;}
  }
  .entries{margin-top: 10px;}
}


.task-list{

}

.bc-div{
  overflow: hidden;
.tracker-breadcrumbs{
  float: left;
  padding: 0px;
  margin-left: 0px;
  font-size: 0.8em;
  li{
    display: inline;
    color: $link;
    a{color: $link;}
  }
}
}

.task-show{
  line-height: 1.4em;
  .task-name{font-size: 1.8em;line-height: 2em;}
  .info{font-size: 0.8em;color: $grey-link;
    em{color: $font-color;font-style: normal;}
  }
  .descr{
    line-height: 1.2em;
    margin: 10px 0;
  }
}




.accordion dd.active{
  .collapse-task{display: none;}
  border-bottom: solid 1px $line;
}
.accordion dd > a{
  background: $pane3-bg;
  li{list-style: none;}
//  border-top: solid 1px $line;
  border-bottom: solid 1px $line;
  border-collapse: collapse;
}
.li-showstopper{
  list-style: square;
}

.team-show{
  .head-row .title{
    margin-left: 0px;
  }
  .description{margin-left: 0px;}
}

.pic48{
  width: 48px;
  height: 48px;
}

.user-list-item, .user-min{
  line-height: 1.2em;
.left.info{position: relative;top: 5px;}
.name{margin-left: 10px;color: $font-color;}
.name:hover{color: $link-hover;}
.nickname{margin-left: 10px;color: $grey-link;font-size: 0.8em;}
.nickname:hover{;color: $grey-link-hover;}
}


.team-list-item{
  overflow: hidden;
  border-bottom: solid 1px $line;
}


.user-min{
  overflow: hidden;
  padding: 2% 0;
}


.task-details{padding-bottom: 20px}
.subtask{
  border-top: solid 1px $line;
  padding: 20px 0;
}

.task-card {
  color: $font-color;
  .date, .team {
    font-size: 0.9em;
  }
  line-height: 1.3em;

}
.end-soon {
  font-weight: bold;
  color: $warning;
}

.date-sub{
  font-size: 0.8em;
}