// Place all the styles related to the OauthApplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.api-table{
  margin: 20px 0;
}
.set-users{
  margin-bottom: 10px;
}