// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-pane{padding: 3%;}

.highcharts-container{
  margin-top: 20px;
  margin-bottom: 20px;
}
.report-options{
  .report-type,.report_options{float: left;}
  .report-date,.submit_button{float: right;}
  .report-type,.report_options,.report-date,.submit_button{margin-right: 1%;}
  .report-type{width: 20%;}
  .report_options{width: 40%;}
  .report-date{
    width: 25%;
    input{float: left;width: 40%;margin-right: 10%;}
  }
  .submit_button{
    width: 10%;
    button{width: auto;padding: 5px 10px; background: #c0392b;}
  }
}

.report-renderer{
  clear: both;
}