// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.team-list-item{
  clear: both;
  padding: 2% 0;
  font-size: 1.2em;
  .team-name{
    float: left;
  }
  .team-glymplse{
    float: right;
  }
}