<% unless @work_logs.empty? %>
    <table class="table sortable-table highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-xaxis-rotation="-45">
      <thead>
      <tr>
        <th  width="200">Date</th>
        <th width="200">Total hours</th>
        <th data-graph-skip="1" width="800">Description</th>
      </tr>
      </thead>
      <% @work_logs.each do |log| %>
          <tr>
            <td><%= log.date.strftime('%d %B %Y') %></td>
            <td><%= log.hours %></td>
            <td><%= log.description %></td>
          </tr>
      <% end %>
    </table>
    <script type="text/javascript">
        $(".sortable-table").tablesorter();
        $('table.highchart').highchartTable();
    </script>
<% else %>
    <div class="alert-box secondary">
      No sufficient data yet.
    </div>
<% end %>