<div class="title">
  Tasks assigned to <%= @user.name %> from <%= @range[0].strftime('%d %B %y') %> to <%= @range[1].strftime('%d %B %y') %>
</div>
<div class="page-break">
  <%= render :partial => 'reports/assignments' %>
</div>