<div class="title">
  Tasks assigned to <%= @user.name %> from <%= @start_date.strftime('%d %B %y') %> to <%= @end_date.strftime('%d %B %y') %>
</div>
<div class="page-break">
  <%= render :partial => 'reports/assignments' %>
</div>