<div class="report-options">
  <form class="employee_daily_report_form" data-remote="true">
    <div class="report-type">
      <% if current_user.manager? %>
          <%= select_tag 'report[type]', options_for_select([['Project', 'project'], ['Team', 'team'], ['Managing users', 'managing_users'], ["All employees", 'all_users'], ['Self', 'user']], @report_type), :class => 'select_add report_type_select' %>
      <% else %>
          <%= select_tag 'report[type]', options_for_select([['Project', 'project'], ['Team', 'team'], ['Managing users', 'managing_users'], ['Self', 'user']], @report_type), :class => 'select_add report_type_select' %>
      <% end %>
    </div>
    <div class="report_options">

    </div>
    <div class="submit_button">
      <button>Go</button>
    </div>
    <div class="report-date">
      <%= text_field_tag 'report[date]', @date, :class => 'date-only-input' %>
    </div>
  </form>
</div>
<div class="report-renderer">
  <%= render :partial => 'reports/employee_time_range' %>
</div>
<script type="text/javascript">
    $('.report_type_select').on("change", function () {
        $.get('/reports/get_selection_list?type=' + $('.report_type_select').val())
    });
</script>