<div class="report-options">
  <form class="employee_daily_report_form" data-remote="false">
    <div class="report-type">
      <%= select_tag('employee_id', options_for_select(@users.map { |x| [x.name, x.id] }, @user.id)) %>
    </div>
    <div class="submit_button">
      <button>Go</button>
    </div>
    <div class="report-date">
      <%= text_field_tag 'start_date', @start_date, :class => 'date-only-input' %>
      <%= text_field_tag 'end_date', @end_date, :class => 'date-only-input' %>
    </div>
  </form>
</div>
<div class="report-renderer">
  <%= render :partial => 'reports/employee_range' %>
</div>