<div class="main-title">
  <div class="element">
    <h5>Reports
      <a href="#" data-dropdown="drop1" class="report-select">Select report  ▾</a>
      <ul id="drop1" class="f-dropdown report-select" data-dropdown-content>
        <%= render 'reports/report_types' %>
      </ul>
    </h5>
  </div>
</div>
